.black-bg {
  background-color: black;
  color: white;
  font-family: Work;
}

.white-bg {
  background-color: white;
  color: black;
  font-family: Work;
}

.button-style {
  text-decoration: none;
  border: 1px solid #aaa;
  color: white;
  font-family: Work;
  padding: 15px 30px;
  font-size: 2rem;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: #fff;
    color: black;
  }
}

.text-wrapper {
  //   padding-left: 10vw;
  //   padding-top: 12vh;
  padding: 12vh 10vw 0 10vw;
}
