@mixin content-style($h2-color, $p-color) {
  h2 {
    font-size: 8.5rem;
    color: $h2-color;
  }
  h3 {
    font-size: 3rem;
    color: $p-color;
  }

  p {
    font-size: 2rem;
  }

  img {
    max-width: 100%;
  }
}
