* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// - font face

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Work;
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

//- main font

html {
  font-size: 62.5%;
  font-family: Inter;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

//- Klassen

.black-bg {
  background-color: black;
  color: white;
  font-family: Work;
}

.white-bg {
  background-color: white;
  color: black;
  font-family: Work;
}

.button-style {
  text-decoration: none;
  border: 1px solid #aaa;
  color: white;
  font-family: Work;
  padding: 15px 30px;
  font-size: 2rem;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: #fff;
    color: black;
  }
}

.text-wrapper {
  //   padding-left: 10vw;
  //   padding-top: 12vh;
  padding: 12vh 10vw 0 10vw;
}

//- Mixin

// @mixin page-style($bColor, $tColor) {
//   background-color: $bColor;
//   color: $tColor;
// }

@mixin content-style($h2-color, $p-color) {
  h2 {
    font-size: 8.5rem;
    color: $h2-color;
  }
  h3 {
    font-size: 3rem;
    color: $p-color;
  }

  p {
    font-size: 2rem;
  }

  img {
    max-width: 100%;
  }
}

//- Header

header {
  .line {
    height: 200px;
    width: 30px;
  }
  @extend .black-bg;
  height: 100vh;
  text-align: center;
  p {
    font-size: 1.2rem;
    margin: 5vh 0;
  }
  h2 {
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 5rem;
    text-transform: uppercase;

    &:nth-of-type(2) {
      color: black;
      -webkit-text-stroke: 2px white;
    }
  }

  .logo-text {
    margin-bottom: 30vh;
  }

  aside {
    display: flex;
    justify-content: space-between;
    margin: 0 5vw;
    a {
      @extend .button-style;
    }
  }
}

.story {
  @extend .black-bg;
  article {
    h1 {
      font-size: 10rem;
      font-family: Inter;
      margin-bottom: 5vh;
    }

    .content-map {
      display: flex;
      justify-content: space-between;

      img {
        max-width: 30%;
        margin-bottom: 15vh;
      }

      .numbers {
        p {
          font-size: 1.4rem;
          font-family: Work;
        }
        h2 {
          font-size: 8.5rem;
          font-family: Inter;
          margin-bottom: 5vh;
          font-weight: 700;
          letter-spacing: -3px;
        }
      }
    }
  }
}

.action {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60vh 0;

  h2 {
    font-size: 8.5rem;
    font-family: Inter;
    font-weight: 700;
    width: 33vw;
  }
  p {
    font-size: 1.5rem;
    font-family: Work;
    width: 20vw;

    &:nth-of-type(1) {
      margin-bottom: 100vh;
    }
  }
  img {
    position: absolute;
    width: 30vw;
    max-width: 100%;

    &:nth-of-type(1) {
      top: -10vh;
      right: 5vw;
    }
    &:nth-of-type(2) {
      left: 2vw;
      top: 30vh;
    }
    &:nth-of-type(3) {
      right: 0;
      top: 90vh;
    }
    &:nth-of-type(4) {
      top: 120vh;
      left: 15vw;
    }
    &:nth-of-type(5) {
      right: 10vw;
      bottom: 90vh;
    }
    &:nth-of-type(6) {
      bottom: 60vh;
      left: 0;
    }
    &:nth-of-type(7) {
      bottom: -5vh;
      right: 20vw;
      z-index: 5;
    }
  }
}

.golden-bear,
.rose-bear {
  @extend .black-bg;
  position: relative;
  height: 180vh;

  margin-bottom: 30vh;
  article {
    @include content-style(white, white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 85vh;

    .number-text {
      width: 10vw;
    }
    .description {
      width: 40vw;
      h3 {
        margin-bottom: 5vh;
      }
    }
  }
  // .spin {
  //   position: absolute;

  //   width: 30vw;
  //   right: -10vh;
  //   bottom: -30vh;
  //   border: 2px solid red;
  //   z-index: -1;
  //   transition: 0.8s ease;
  //   animation: spinner infinite 60s;
  // }
  .pictures {
    position: relative;

    display: flex;
    img {
      position: absolute;

      &:nth-of-type(1) {
        width: 60vw;
        top: -50vh;
      }
      &:nth-of-type(2) {
        width: 30vw;
        right: 5vw;
        bottom: -50vh;
      }
      &:nth-of-type(3) {
        width: 30vw;
        right: -16vw;
        z-index: -1;
        bottom: -75vh;
        transition: 0.8s ease;
        animation: spinner infinite 60s;
      }
    }
  }
}

.rose-bear {
  @extend .white-bg;

  article {
    @include content-style(black, black);
  }

  .pictures {
    flex-direction: row-reverse;
    img {
      &:nth-of-type(2) {
        left: -5vw;
      }
    }
  }
}

footer {
  @extend .black-bg;
  overflow: hidden;
  article {
    margin-bottom: 20vh;
    p {
      font-size: 1.4rem;
      margin-bottom: 5vh;
    }
    h2 {
      font-family: Inter;
      font-size: 2.4rem;
      width: 40vw;
      line-height: 50px;
      margin-bottom: 5vh;
    }
    a {
      @extend .button-style;
      margin-bottom: 5vh;
    }
  }

  .rolling {
    @extend .white-bg;
    font-size: 10rem;
    rotate: 48deg;
    display: flex;
    font-family: Work;
    width: 200vw;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.5s ease;
    animation: rolling infinite 20s;

    span {
      color: white;
      -webkit-text-stroke: 2px black;
    }
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5vh;
    p {
      font-size: 1.4rem;
    }
    .socials {
      img {
        //   max-width: 100%;
        width: 2vw;
        margin-bottom: 2vh;
      }
      p {
        margin-bottom: 2vh;
      }
    }
    .partners {
      img {
        width: 10vw;
      }
    }
  }
}

// max-width: 820px
@media only screen and (max-width: 48em) {
  html {
    font-size: 30.5%;
  }

  .text-wrapper {
    padding: 6vh 5vw 0 5vw;
  }

  .action {
    p {
      &:nth-of-type(1) {
        margin-bottom: 30vh;
      }
    }
  }

  .golden-bear {
    height: 100%;
    margin-bottom: 10vh;
    article {
      margin-bottom: 50vh;
    }
    .pictures {
      img {
        &:nth-of-type(1) {
          top: -30vh;
        }
        &:nth-of-type(2) {
          bottom: -5vh;
        }
        &:nth-of-type(3) {
          bottom: -12vh;
        }
      }
    }
  }

  .rose-bear {
    height: 100%;
    margin-bottom: 10vh;
    article {
      margin-bottom: 50vh;
    }

    .pictures {
      img {
        &:nth-of-type(1) {
          top: -35vh;
        }
        &:nth-of-type(2) {
          bottom: 0;
          left: 10vw;
        }
      }
    }
  }

  footer {
    .rolling {
      width: 326vw;
      rotate: 46deg;
    }
  }
}

@media only screen and (max-width: 40rem) {
  html {
    font-size: 20.5%;
  }

  .action {
    padding: 0;
    p {
      &:nth-of-type(1) {
        margin-bottom: 20vh;
      }
    }
    img {
      &:nth-of-type(1) {
        top: -5vh;
      }
      &:nth-of-type(2) {
        top: 10vh;
      }
      &:nth-of-type(3) {
        top: 25vh;
      }
      &:nth-of-type(4) {
        top: 28vh;
        left: 5vw;
      }
      &:nth-of-type(5) {
        bottom: 15vh;
      }
      &:nth-of-type(6) {
        bottom: 10vh;
      }
    }
  }

  .action,
  .golden-bear,
  .rose-bear {
    height: 80vh;
  }

  .golden-bear,
  .rose-bear {
    margin-bottom: 10vh;
  }

  .golden-bear {
    .pictures {
      img {
        &:nth-of-type(1) {
          top: -10vh;
        }
        &:nth-of-type(2) {
          bottom: -15vh;
        }
        &:nth-of-type(3) {
          bottom: -20vh;
          right: -20vw;
        }
      }
    }
  }

  .rose-bear {
    .pictures {
      img {
        &:nth-of-type(1) {
          top: -20vh;
        }
        &:nth-of-type(2) {
          bottom: -5vh;
        }
      }
    }
  }

  footer {
    article {
      h2 {
        line-height: normal;
      }
    }
    .rolling {
      width: 355vw;
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rolling {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25vw);
  }
  100% {
    transform: translateX(0);
  }
}
