* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: Work;
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}
html {
  font-size: 62.5%;
  font-family: Inter;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.black-bg, footer, .golden-bear,
.rose-bear, .story, header {
  background-color: black;
  color: white;
  font-family: Work;
}

.white-bg, footer .rolling, .rose-bear {
  background-color: white;
  color: black;
  font-family: Work;
}

.button-style, footer article a, header aside a {
  text-decoration: none;
  border: 1px solid #aaa;
  color: white;
  font-family: Work;
  padding: 15px 30px;
  font-size: 2rem;
  transition: 0.5s ease-in-out;
}
.button-style:hover, footer article a:hover, header aside a:hover {
  background-color: #fff;
  color: black;
}

.text-wrapper {
  padding: 12vh 10vw 0 10vw;
}

header {
  height: 100vh;
  text-align: center;
}
header .line {
  height: 200px;
  width: 30px;
}
header p {
  font-size: 1.2rem;
  margin: 5vh 0;
}
header h2 {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 5rem;
  text-transform: uppercase;
}
header h2:nth-of-type(2) {
  color: black;
  -webkit-text-stroke: 2px white;
}
header .logo-text {
  margin-bottom: 30vh;
}
header aside {
  display: flex;
  justify-content: space-between;
  margin: 0 5vw;
}
.story article h1 {
  font-size: 10rem;
  font-family: Inter;
  margin-bottom: 5vh;
}
.story article .content-map {
  display: flex;
  justify-content: space-between;
}
.story article .content-map img {
  max-width: 30%;
  margin-bottom: 15vh;
}
.story article .content-map .numbers p {
  font-size: 1.4rem;
  font-family: Work;
}
.story article .content-map .numbers h2 {
  font-size: 8.5rem;
  font-family: Inter;
  margin-bottom: 5vh;
  font-weight: 700;
  letter-spacing: -3px;
}

.action {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60vh 0;
}
.action h2 {
  font-size: 8.5rem;
  font-family: Inter;
  font-weight: 700;
  width: 33vw;
}
.action p {
  font-size: 1.5rem;
  font-family: Work;
  width: 20vw;
}
.action p:nth-of-type(1) {
  margin-bottom: 100vh;
}
.action img {
  position: absolute;
  width: 30vw;
  max-width: 100%;
}
.action img:nth-of-type(1) {
  top: -10vh;
  right: 5vw;
}
.action img:nth-of-type(2) {
  left: 2vw;
  top: 30vh;
}
.action img:nth-of-type(3) {
  right: 0;
  top: 90vh;
}
.action img:nth-of-type(4) {
  top: 120vh;
  left: 15vw;
}
.action img:nth-of-type(5) {
  right: 10vw;
  bottom: 90vh;
}
.action img:nth-of-type(6) {
  bottom: 60vh;
  left: 0;
}
.action img:nth-of-type(7) {
  bottom: -5vh;
  right: 20vw;
  z-index: 5;
}

.golden-bear,
.rose-bear {
  position: relative;
  height: 180vh;
  margin-bottom: 30vh;
}
.golden-bear article,
.rose-bear article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85vh;
}
.golden-bear article h2,
.rose-bear article h2 {
  font-size: 8.5rem;
  color: white;
}
.golden-bear article h3,
.rose-bear article h3 {
  font-size: 3rem;
  color: white;
}
.golden-bear article p,
.rose-bear article p {
  font-size: 2rem;
}
.golden-bear article img,
.rose-bear article img {
  max-width: 100%;
}
.golden-bear article .number-text,
.rose-bear article .number-text {
  width: 10vw;
}
.golden-bear article .description,
.rose-bear article .description {
  width: 40vw;
}
.golden-bear article .description h3,
.rose-bear article .description h3 {
  margin-bottom: 5vh;
}
.golden-bear .pictures,
.rose-bear .pictures {
  position: relative;
  display: flex;
}
.golden-bear .pictures img,
.rose-bear .pictures img {
  position: absolute;
}
.golden-bear .pictures img:nth-of-type(1),
.rose-bear .pictures img:nth-of-type(1) {
  width: 60vw;
  top: -50vh;
}
.golden-bear .pictures img:nth-of-type(2),
.rose-bear .pictures img:nth-of-type(2) {
  width: 30vw;
  right: 5vw;
  bottom: -50vh;
}
.golden-bear .pictures img:nth-of-type(3),
.rose-bear .pictures img:nth-of-type(3) {
  width: 30vw;
  right: -16vw;
  z-index: -1;
  bottom: -75vh;
  transition: 0.8s ease;
  animation: spinner infinite 60s;
}

.rose-bear article h2 {
  font-size: 8.5rem;
  color: black;
}
.rose-bear article h3 {
  font-size: 3rem;
  color: black;
}
.rose-bear article p {
  font-size: 2rem;
}
.rose-bear article img {
  max-width: 100%;
}
.rose-bear .pictures {
  flex-direction: row-reverse;
}
.rose-bear .pictures img:nth-of-type(2) {
  left: -5vw;
}

footer {
  overflow: hidden;
}
footer article {
  margin-bottom: 20vh;
}
footer article p {
  font-size: 1.4rem;
  margin-bottom: 5vh;
}
footer article h2 {
  font-family: Inter;
  font-size: 2.4rem;
  width: 40vw;
  line-height: 50px;
  margin-bottom: 5vh;
}
footer article a {
  margin-bottom: 5vh;
}
footer .rolling {
  font-size: 10rem;
  rotate: 45deg;
  display: flex;
  font-family: Work;
  width: 200vw;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s ease;
  animation: rolling infinite 20s;
}
footer .rolling span {
  color: white;
  -webkit-text-stroke: 2px black;
}
footer section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5vh;
}
footer section p {
  font-size: 1.4rem;
}
footer section .socials img {
  width: 2vw;
  margin-bottom: 2vh;
}
footer section .socials p {
  margin-bottom: 2vh;
}
footer section .partners img {
  width: 10vw;
}

@media only screen and (min-width: 48em) {
  html {
    font-size: 30.5%;
  }
  .text-wrapper {
    padding: 6vh 5vw 0 5vw;
  }
  .action p:nth-of-type(1) {
    margin-bottom: 30vh;
  }
  .golden-bear {
    height: 100%;
    margin-bottom: 10vh;
  }
  .golden-bear article {
    margin-bottom: 50vh;
  }
  .golden-bear .pictures img:nth-of-type(1) {
    top: -30vh;
  }
  .golden-bear .pictures img:nth-of-type(2) {
    bottom: -5vh;
  }
  .golden-bear .pictures img:nth-of-type(3) {
    bottom: -12vh;
  }
  .rose-bear {
    height: 100%;
    margin-bottom: 10vh;
  }
  .rose-bear article {
    margin-bottom: 50vh;
  }
  .rose-bear .pictures img:nth-of-type(1) {
    top: -35vh;
  }
  .rose-bear .pictures img:nth-of-type(2) {
    bottom: 0;
    left: 10vw;
  }
  footer .rolling {
    width: 326vw;
    rotate: 46deg;
  }
}
@media only screen and (max-width: 40rem) {
  html {
    font-size: 20.5%;
  }
  .action {
    padding: 0;
  }
  .action p:nth-of-type(1) {
    margin-bottom: 20vh;
  }
  .action img:nth-of-type(1) {
    top: -5vh;
  }
  .action img:nth-of-type(2) {
    top: 10vh;
  }
  .action img:nth-of-type(3) {
    top: 25vh;
  }
  .action img:nth-of-type(4) {
    top: 28vh;
  }
  .action img:nth-of-type(5) {
    bottom: 15vh;
  }
  .action img:nth-of-type(6) {
    bottom: 10vh;
  }
  .action,
  .golden-bear,
  .rose-bear {
    height: 80vh;
  }
  .golden-bear,
  .rose-bear {
    margin-bottom: 10vh;
  }
  .golden-bear .pictures img:nth-of-type(1) {
    top: -60vh;
  }
  .golden-bear .pictures img:nth-of-type(2) {
    bottom: 30vh;
  }
  .golden-bear .pictures img:nth-of-type(3) {
    bottom: 25vh;
    right: -20vw;
  }
  .rose-bear .pictures img:nth-of-type(1) {
    top: -65vh;
  }
  .rose-bear .pictures img:nth-of-type(2) {
    bottom: 35vh;
  }
  footer article h2 {
    line-height: normal;
  }
  footer .rolling {
    width: 355vw;
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rolling {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(33vw);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
